* {
    background-color: lightgray;
    }


h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 10px;
    
    

}

h3 { 
    text-align: center;
    font-size: 32px;
    color: white;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: justify center;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    
    

}

h4 {
    text-align: center;
    font-stretch: expanded;
    font-family: monospace;
    font-size: 20px;
    font-kerning: 10px;
}


div {
    color:black;
    align-items: center;
    text-align: center;
    font: helvetica;
    font-kerning: 10px;
}

p {
    align-items: center;
    color: black;
    outline: lightskyblue 3px;
    text-align: center;
    font-size: 20px;
    font-family: helvetica;
    line-height: 3px;
}



.footer {
    padding: 10px;
    text-align: center;
    
}
